/* 

.a {
    display: block;
    width: 100px;
    position: relative;
    text-align: center;
}

.h2 {
    padding: 20px;
}
.a:hover {
    color: blue;
}

.a:hover .h1 {
    color: black;
    display: block;
    
}

.h1 {
    width: 100px;
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 0, 0, .2);
}

.b:hover {
    color: red;
} */

/* .b {
    display: block;
    position: absolute;
}

.c {
    display: block;
    position: absolute;
}

.d {
    display: block;
    position: absolute;
} */


.icon {
    width: 200px;
    /* height: 140px; */
    
   
}

.wx {
    /* float: right; */
    padding-bottom: 5px;
    padding-left: 70px;
    background: url(http://st0.meiyaapp.com/home/img/weixin.png)  no-repeat center/100%;
}

.code {
    display: block;
    width: 93px;
    height: 93px;
    /* display: none; */
    border: 1px solid black;
    padding: 5px;
    margin-left: 30px;
    position: relative;
    opacity: 0;
    transition: 1s;
    top: 0;
}

.triangle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    top: -6px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.icon:hover .code {
    display: block;
    opacity: 1;
    top: 10px;
}